@{
    ViewBag.Title = "Wine Picker";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div id="containerDiv" class="container-fluid" data-ng-app="WinePickerApp" data-ng-controller="WinePickerController">
    <div class="row">
        
        <div class="span4">
            <br />
            <br />
            <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts">
                <img src="http://cache.wine.com/images/logos/300x200_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" />
            </a>
        </div>

        <div class="span8">
            
            <br />
            <br />
            
            <div class="alert alert-error" data-ng-show="errorMessagesVisible">
                <button type="button" class="close" data-ng-click="errorMessagesVisible = false">&times;</button>
                <strong>Error!</strong>&nbsp;<span data-ng-repeat="errorMessage in errorMessages">{{errorMessage}}<br data-ng-hide="$last" /></span>
                <br />
            </div>

            <form class="form-search" action="">
                
                <select id="wineTypeMenu" data-ng-model="selectedWineType" data-ng-change="onWineTypeChanged()">
                    <option value="">Any Wine Type</option>
                    <option data-ng-repeat="wineType in wineTypes" value="{{wineType.Id}}">{{wineType.Name}}</option>
                </select>

                <br />
                <br />

                <select id="varietalMenu" data-ng-model="selectedVarietal" data-ng-change="onVarietalChanged()">
                    <option value="">Any Varietal</option>
                    <option data-ng-repeat="varietal in varietals" value="{{varietal.Id}}">{{varietal.Name}}</option>
                </select>

                <br />
                <br />

                <select id="regionMenu" data-ng-model="selectedRegion" data-ng-change="onRegionChanged()">
                    <option value="">Any Region</option>
                    <option data-ng-repeat="region in regions" value="{{region.Id}}">{{region.Name}}</option>
                </select>

                <br />
                <br />

                <select id="appellationMenu" data-ng-model="selectedAppellation" data-ng-change="onAppellationChanged()">
                    <option value="">Any Appellation</option>
                    <option data-ng-repeat="appellation in appellations" value="{{appellation.Id}}">{{appellation.Name}}</option>
                </select>

                <br />
                <br />

                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#moreSearchCriteria">More search criteria</a>
                </div>
                <div id="moreSearchCriteria" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <select id="state" data-ng-model="state" data-ng-change="onStateChanged()">
                            <option value="">Select a US state</option>
                            <option value="CA">California</option>
                            <option value="WA">Washington</option>
                        </select>
                    </div>
                </div>

                <br />

                <input id="searchTerm" type="text" class="search-query span4" placeholder="Search" data-ng-model="searchTerm">
                <button id="searchButton" class="btn btn-primary" type="submit" data-ng-click="onSearch()" data-ng-disabled="wineApiCallInProgress"><i class="icon-search icon-white"></i>&nbsp;Search for wines</button>
                <button id="resetButton" class="btn " type="button" data-ng-click="onReset()" data-ng-disabled="wineApiCallInProgress"><i class="icon-remove"></i>&nbsp;Reset</button>

            </form>

            <div class="progress progress-striped active" data-ng-show="wineApiCallInProgress">
                <div class="bar" style="width: 100%;"></div>
            </div>

            <div data-ng-view></div>
            
        </div>
        <div class="span2" />
    </div>
</div>
