@{
    ViewBag.Title = "Wine Picker";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div id="containerDiv" class="container-fluid" data-ng-app="WinePickerApp" data-ng-controller="WinePickerController">
    <div class="row">
        
        <div class="span4">
            <br />
            <br />
            <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts">
                <img src="http://cache.wine.com/images/logos/300x200_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" />
            </a>
        </div>

        <div class="span8">
            
            <br />
            <br />
            
            <div class="alert alert-error" data-ng-cloak data-ng-show="winePickerModel.errorMessagesVisible">
                <button type="button" class="close" data-ng-click="winePickerModel.errorMessagesVisible = false">&times;</button>
                <strong>Error!</strong>
                <br />
                <span data-ng-repeat="errorMessage in winePickerModel.errorMessages">{{errorMessage}}
                    <br data-ng-hide="$last" />
                </span>
                <br />
            </div>

            <form class="form-search" action="" data-ng-controller="SearchCriteriaController">
                
                <select id="wineTypeMenu" data-ng-model="searchCriteriaModel.wineType" data-ng-change="onWineTypeChanged()">
                    <option value="">Any Wine Type</option>
                    <option data-ng-repeat="wineType in searchCriteriaModel.wineTypes" value="{{wineType.Id}}">{{wineType.Name}}</option>
                </select>

                <br />
                <br />

                <select id="varietalMenu" data-ng-model="searchCriteriaModel.varietal" data-ng-change="onVarietalChanged()">
                    <option value="">Any Varietal</option>
                    <option data-ng-repeat="varietal in searchCriteriaModel.varietals" value="{{varietal.Id}}">{{varietal.Name}}</option>
                </select>

                <br />
                <br />

                <select id="regionMenu" data-ng-model="searchCriteriaModel.region" data-ng-change="onRegionChanged()">
                    <option value="">Any Region</option>
                    <option data-ng-repeat="region in searchCriteriaModel.regions" value="{{region.Id}}">{{region.Name}}</option>
                </select>

                <br />
                <br />

                <select id="appellationMenu" data-ng-model="searchCriteriaModel.appellation" data-ng-change="onAppellationChanged()">
                    <option value="">Any Appellation</option>
                    <option data-ng-repeat="appellation in searchCriteriaModel.appellations" value="{{appellation.Id}}">{{appellation.Name}}</option>
                </select>

                <br />
                <br />

                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#moreSearchCriteria" data-ng-click="searchCriteriaModel.showMoreSearchCriteria()" data-ng-show="searchCriteriaModel.moreSearchCriteriaCollapsed">More search criteria...</a>
                    <a class="accordion-toggle" data-toggle="collapse" href="#moreSearchCriteria" data-ng-click="searchCriteriaModel.hideMoreSearchCriteria()" data-ng-hide="searchCriteriaModel.moreSearchCriteriaCollapsed">Less search criteria...</a>
                </div>

                <div id="moreSearchCriteria" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <div class="span2">Shipping to:</div>
                        <select class="span3" id="stateMenu" data-ng-model="searchCriteriaModel.state">
                            <option value="">Select a US state</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaiʻi</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>

                        <br />
                        <br />
                        
                        <span class="span2">In stock:</span>
                        <label class="radio" style="margin-right: 20px;">
                            <input type="radio" name="instockRadios" value="1" data-ng-model="searchCriteriaModel.instock" data-ng-disabled="!searchCriteriaModel.state">
                            Yes
                        </label>
                        <label class="radio" style="margin-right: 20px;">
                            <input type="radio" name="instockRadios" value="" data-ng-model="searchCriteriaModel.instock" data-ng-disabled="!searchCriteriaModel.state">
                            Unspecified
                        </label>
                        
                        <br />
                        <br />

                        <span class="span2">Price:</span>
                        <label>
                            <input id="priceFrom" class="span1" type="number" data-ng-model="searchCriteriaModel.priceFrom" />
                        </label>
                        <label>
                            <input id="priceTo" class="span1" type="number" data-ng-model="searchCriteriaModel.priceTo" data-ng-disabled="!searchCriteriaModel.priceFrom" />
                        </label>
                        
                        <br />
                        <br />

                        <span class="span2">Rating:</span>
                        <label>
                            <input id="ratingFrom" class="span1" type="number" data-ng-model="searchCriteriaModel.ratingFrom" />
                        </label>
                        <label>
                            <input id="ratingTo" class="span1" type="number" data-ng-model="searchCriteriaModel.ratingTo" data-ng-disabled="!searchCriteriaModel.ratingFrom" />
                        </label>
                        
                        <br />

                    </div>
                </div>

                <hr />

                <div class="span2">Sort order:</div>
                <select class="span2" id="sortOrderMenu" data-ng-model="searchCriteriaModel.sortOrder">
                    <option value="popularity">Popularity</option>
                    <option value="rating">Rating</option>
                    <option value="vintage">Vintage</option>
                    <option value="winery">Winery</option>
                    <option value="name">Name</option>
                    <option value="price">Price</option>
                    <option value="saving">Saving</option>
                    <option value="justin">Just in</option>
                </select>

                <br />
                <br />

                <div class="span2">Sort direction:</div>
                <label class="radio" style="margin-right: 20px;">
                    <input type="radio" name="sortDirectionRadios" value="ascending" data-ng-model="searchCriteriaModel.sortDirection">
                    Ascending
                </label>
                <label class="radio" style="margin-right: 20px;">
                    <input type="radio" name="sortDirectionRadios" value="descending" data-ng-model="searchCriteriaModel.sortDirection">
                    Descending
                </label>

                <br />
                <br />

                <input id="searchTerm" type="text" class="search-query span4" placeholder="Search" data-ng-model="searchCriteriaModel.searchTerm">
                <button id="searchButton" class="btn btn-primary" type="submit" data-ng-click="onSearch()" data-ng-disabled="winePickerModel.wineApiCallInProgress"><i class="icon-search icon-white"></i>&nbsp;Search for wines</button>
                <button id="resetButton" class="btn" type="button" data-ng-click="onReset()" data-ng-disabled="winePickerModel.wineApiCallInProgress"><i class="icon-remove"></i>&nbsp;Reset</button>

            </form>

            <div class="progress progress-striped active" data-ng-cloak data-ng-show="winePickerModel.wineApiCallInProgress">
                <div class="bar" style="width: 100%;"></div>
            </div>
            
            <!--
            <div id="wineApiCallInProgressModal" class="modal hide" data-jt-modal-show-hide="winePickerModel.wineApiCallInProgress">
                <div class="modal-header">
                    <h3>wine.com API call in progress...</h3>
                </div>
                <div class="modal-body">
                    <p>Retrieving details of wine, "XYZ".</p>
                </div>
            </div>
            -->

            <div data-ng-view></div>
            
        </div>
        <div class="span2" />
    </div>
</div>
