<div data-ng-show="searchResultsModel.products != null">
    
    <hr />

    <div>
        Total number of matching products found: {{searchResultsModel.products.Total}}
    </div>

    <br />

    <div id="myCarousel" class="carousel slide" data-ng-show="searchResultsModel.products.Total > 0" data-jt-carousel-cycle="searchResultsModel.products != null && searchResultsModel.products.List.length > 1" data-jt-carousel-tracker="searchResultsModel.currentSlideNumber">
        <div class="carousel-inner">
            <div data-ng-repeat="product in searchResultsModel.products.List" class="item" data-ng-class="{active: $index == searchResultsModel.currentSlideNumber}">
                <div style="margin-left: 70px; margin-right: 70px; height: 200px;">
                    <img data-ng-src="{{getLargeLabelImageUrlForProduct(product)}}" title="Label for {{product.Name}}" alt="Label for {{product.Name}}" style="float: left;" />
                    <div style="float: left;">
                        <table class="span4 table table-striped table-condensed table-bordered">
                            <tbody>
                                <tr><td>Name</td><td>{{product.Name}}</td></tr>
                                <tr><td>Varietal</td><td>{{product.Varietal.Name}}</td></tr>
                                <tr><td>Appellation</td><td>{{product.Appellation.Name}}</td></tr>
                                <tr><td>Price</td><td>{{product.PriceRetail | currency}}</td></tr>
                                <tr><td colspan="2"><a data-ng-href="{{searchResultsModel.buildWineDetailsPath(product)}}">View product details</a>&nbsp;(in-page)</td></tr>
                                <tr><td colspan="2"><a data-ng-href="{{product.Url}}" target="_blank">View product details</a><span data-jt-external-link /></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="pagination" data-ng-show="searchResultsModel.pages.length > 1">
        <ul>
            <li><a href="#">Prev</a></li>
            <li data-ng-repeat="page in searchResultsModel.pages"><a href="#">{{page}}</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
    
    <!-- For troubleshooting -->
    <pre>
$scope.searchResultsModel.currentSlideNumber: {{searchResultsModel.currentSlideNumber}}
$scope.searchResultsModel.offset: {{searchResultsModel.offset}}
$scope.searchResultsModel.size: {{searchResultsModel.size}}
$scope.searchResultsModel.pages: {{searchResultsModel.pages}}
    </pre>

</div>
